<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechBlog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous">

    <link
      href="https://fonts.googleapis.com/css2?family=Sarpanch&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <header class="navbar navbar-expand-lg sticky-top justify-content-between">
      <div class="">
        <h1>
          <span role="img" aria-label="star">🌟</span>
          <a href="/">TechBlog</a>
        </h1>
      </div>
      <div class="">
        <nav>
          <!-- Conditionally render login or logout links -->
          <div class="d-flex flex-row m-2">
            {{#if loggedIn}}
            <div class="p-2"><a href="/">Home</a></div>
            {{!-- <div class="p-2"><a href="/dashboard/new">New Post</a></div>
            --}}
            <div class="p-2"><a href="/dashboard">Dashboard</a></div>
            <div class="p-2"><a href="#" id="logout-link">Logout</a></div>
            {{else}}
            <div><a href="/login">Login</a></div>
            {{/if}}
          </div>
        </nav></div>
    </header>
    <div class="">

      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</html>
