<div class="posts list-group d-flex flex-wrap">
    {{#each posts}}
    <div class="card card-rounded" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{format_date createdAt}}</h6>
            <p class="card-text">{{body}}</p>
            <a href="/dashboard/edit/{{id}}" class="card-link">Review</a>
        </div>
    </div>
    {{/each}}
</div>
