<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>
{{!-- Login --}}
    <form id="login-form" class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="username-input-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-input-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="login-btn" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>
{{!-- Sign Up --}}
    <form class="form signup-form" id="signup-form">
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input"type="text" id="username-input-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-input-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary"  id="signup-btn" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
